# Database Configuration
MONGODB_URI=yours


# Authentication
JWT_SECRET=K7mQ2xV9pL4zR8nT6wY3cH1sB5dF0jXa
JWT_EXPIRY=60d

# Server
PORT=5000
NODE_ENV=production

# CORS Settings
ALLOWED_ORIGINS=http://localhost:3000,https://yourdomain.com
